{% extends 'layout.html' %}

{% block content %}
    {% if pastscan %}
    {% for past in pastscan %}
            <div class="card my-5 w-100" style="background-color:#696969; border-color:#A52A2A; border-width:10px; color:white;">
                <div class="card-body">
                <h5 class="card-title"> <!-- kartın başlık yazısı -->
                    <br>Eski Tarama:
                    <hr color:"#696969"></hr>
                </h5>

                <p class="card-text"> <!-- kartın içerik yazısı -->
                    <br>
                    
                        {% if past.domain_name %}<p align="left" style="color:white;"><b>ALAN ADI:</b> {{ past.domain_name }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.registrar %}<p align="left" style="color:white;"><b>KAYITLI OLDUĞU YER:</b> {{ past.registrar }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.whois_server %}<p align="left" style="color:white;"><b>WHOIS SUNUCUSU:</b> {{ past.whois_server }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.referral_url %}<p align="left" style="color:white;"><b>YÖNLENDİRME URL'İ:</b> {{ past.referral_url }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.updated_date %}<p align="left" style="color:white;"><b>GÜNCELLEME TARİHİ:</b> {{ past.updated_date }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.creation_date %}<p align="left" style="color:white;"><b>OLUŞTURULMA TARİHİ:</b> {{ past.creation_date }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.expiration_date %}<p align="left" style="color:white;"><b>SON KULLANMA TARİHİ:</b> {{ past.expiration_date }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.name_servers %}<p align="left" style="color:white;"><b>İSİM SUNUCULARI:</b> {{ past.name_servers }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.status %}<p align="left" style="color:white;"><b>STATÜ:</b> {{ past.status }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.emails %}<p align="left" style="color:white;"><b>E-MAİLLER:</b> {{ past.emails }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.dnssec %}<p align="left" style="color:white;"><b>DNSSEC:</b> {{ past.dnssec }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.name %}<p align="left" style="color:white;"><b>İSİM:</b> {{ past.name }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.org %}<p align="left" style="color:white;"><b>ORG:</b> {{ past.org }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.address %}<p align="left" style="color:white;"><b>ADRES:</b> {{ past.address }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.city %}<p align="left" style="color:white;"><b>ŞEHİR:</b> {{ past.city }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.state %}<p align="left" style="color:white;"><b>DURUM:</b> {{ past.state }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.zipcode %}<p align="left" style="color:white;"><b>POSTA KODU:</b> {{ past.zipcode }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.country %}<p align="left" style="color:white;"><b>ÜLKE:</b> {{ past.country }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.registrant_name %}<p align="left" style="color:white;"><b>KAYIT SAHİBİ ADI:</b> {{ past.registrant_name }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.admin %}<p align="left" style="color:white;"><b>YÖNETİCİ:</b> {{ past.admin }}</p>{% else %}{% endif %}
                        {% if past.admin_organization %}<p align="left" style="color:white;"><b>YÖNETİCİ ORGANİZASYONU:</b> {{ past.admin_organization }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.admin_address %}<p align="left" style="color:white;"><b>YÖNETİCİ ADRESİ:</b> {{ past.admin_address }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.admin_phone %}<p align="left" style="color:white;"><b>YÖNETİCİ TELEFONU:</b> {{ past.admin_phone }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.admin_fax %}<p align="left" style="color:white;"><b>YÖNETİCİ FAX:</b> {{ past.admin_fax }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.tech %}<p align="left" style="color:white;"><b>TEKNOLOJİ:</b> {{ past.tech }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.tech_organization %}<p align="left" style="color:white;"><b>TEKNİK ORGANİZASYON:</b> {{ past.tech_organization }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.tech_address %}<p align="left" style="color:white;"><b>TEKNİK ADRES:</b> {{ past.tech_address }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.tech_phone %}<p align="left" style="color:white;"><b>TEKNİK TELEFON:</b> {{ past.tech_phone }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.tech_fax %}<p align="left" style="color:white;"><b>TEKNİK FAKS:</b> {{ past.tech_fax }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.billing %}<p align="left" style="color:white;"><b>FATURALANDIRMA:</b> {{ past.billing }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.billing_organization %}<p align="left" style="color:white;"><b>FATURALANDIRMA KURULUŞU:</b> {{ past.billing_organization }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.billing_address %}<p align="left" style="color:white;"><b>FATURA ADRESİ:</b> {{ past.billing_address }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.billing_phone %}<p align="left" style="color:white;"><b>FATURA TELEFONU:</b> {{ past.billing_phone }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                        {% if past.billing_fax %}<p align="left" style="color:white;"><b>FATURA FAKS:</b> {{ past.billing_fax }}</p><hr color:"#696969"></hr>{% else %}{% endif %}
                    
                    
                </p>

                </div>
            </div>
    
    {% endfor %}
            {% else %}
            <p align="left" style="color:white;">Eski Tarama Bulunmamaktadır.</p><hr color:"#696969">
    {% endif %}
{% endblock %}