{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated %}
    <br>
    <h1> Hata ! </h1>
{% else %}
<br><br><br><br>
    <div class="container">

        <div class="row justify-content-center align-items-center">

            <div class="card my-5 w-50" style="background-color:#696969; border-color:#A52A2A; border-width:10px; color:white;">
                <div class="card-body">
                <h5 class="card-title"> <!-- kartın başlık yazısı -->
                    Kayıt Olun
                </h5>

                <p class="card-text"> <!-- kartın içerik yazısı -->
                    <br>
                    
                    <div class="form-group">
                        <form action="{% url 'register' %}" method='POST'>
                            {% csrf_token %}
                        <label for="username">Kullanıcı Adı:</label>
			            <input type="text" name="username" class="form-control">
                        <br>
                        <label for="email">E-Posta:</label>
			            <input type="email" name="email" class="form-control">
                        <br>
                        <label for="password">Parola:</label>
			            <input type="password" name="password" class="form-control">
                        <br>
                        <label for="repassword">Parola Tekrar:</label>
			            <input type="password" name="repassword" class="form-control">
                        <br>
                        <input type="submit" class="btn btn-danger btn-lg btn-block" value="Kayıt Ol">
                        </form>
                    </div>
                    <br>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-error alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                    {% endif %}
                </p>

                </div>
            </div> 
        
        </div>

    </div>
{% endif %}
{% endblock %}